<% provide(:title, 'All Parks') %>
<%=link_to "Add New Park", new_park_path %>

<h1>Craziest Parks</h1>
<ul class="barks">
  <% @energy_parks.each do |park| %>
    <li><%= link_to park.name, park %><br>
    Energy Level Rating: <%= number_with_precision(park.energy_level_average, precision: 1) %> | <%=park.reviews.count%> reviews </li>
  <% end %>
</ul>

<h1>Best Parks to Take a Doopsa</h1>
<ul class="barks">
  <% @facilities_parks.each do |park| %>
    <li><%= link_to park.name, park %><br>
    Facilities Rating: <%= number_with_precision(park.facilities_average, precision: 1) %> | <%=park.reviews.count%> reviews </li>
  <% end %>
</ul>

<h1>Best Parks for Humping</h1>
<ul class="barks">
  <% @scene_parks.each do |park| %>
    <li><%= link_to park.name, park %><br>
    Scene Rating: <%= number_with_precision(park.scene_average, precision: 1) %> | <%=park.reviews.count%> reviews </li>
  <% end %>
</ul>

<h1>All Parks by Overall Rating</h1>
<ul class="barks">
  <%= render @parks %>
</ul>
