<% provide(:title, @park.name) %>
<div class="row">
  <aside class="col-md-4">
    <section class="user_info">
      <%= render 'shared/park_info' %>
    </section>
    <h4>Create a Review</h4>
    <section class="review_form">
      <% provide(:button_text, 'Add Review!') %>
      <%= render 'shared/review_form' %>
    </section>
  </aside>
  <div class="col-md-8">
      <h3>Description</h3>
      <p class="description"><%= @park.description%></p>
      <p class="rating"><%= number_with_precision(@park.reviews.count(:overall), precision: 0) %> reviews</p>
      <p class="rating">Overall Rating: <%= number_with_precision(@park.reviews.average(:overall), precision: 1)%></p>
      <p class="rating">Energy Level: <%= number_with_precision(@park.reviews.average(:energy_level), precision: 1)%> 
      <p class="rating">Facilities: <%= number_with_precision(@park.reviews.average(:facilities), precision: 1)%></p>
      <p class="rating">Scene: <%= number_with_precision(@park.reviews.average(:scene), precision: 1)%></p>
      <% if @park.reviews.any? %>
        <h3>Reviews (<%= @park.reviews.count %>)</h3>
        <ol class="barks">
          <%= render @reviews %>
        </ol>
      <% end %>
  </div>
</div>
